.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
  }
  
  .navbarImgcontainer{
    flex: 2;
  }
  .navbarLogo {
    width: 600px;
    height: 200px;
  }
  
  .navbarLinksContainer{
    flex: 3;
    display: flex;
    text-decoration:none;
    justify-content: space-between;
  }
  .navConfigEnd{
    width: 10%;
  }
  .navbarLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbarLink {
    text-decoration: none;
    color: #000000; 
    position: relative;
  }
  
  .navbarLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000000; 
    transition: width .3s;
  }
  
  .navbarLink:hover::after {
    width: 100%; 
  }
  
  .buttonDemo {
    text-decoration:none;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 20px; 
    border: none;
    background-color: #eeeeee;
    cursor: pointer;
  }
  .navbarLink {
    margin-right: 15px;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .configIcon {
    cursor: pointer;
  }
  
  .dropdownMenu {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdownMenu li {
    list-style: none;
    padding: 8px 12px;
  }
  
  .dropdownMenu li a {
    text-decoration: none;
    color: black;
  }
  
  .dropdownMenu li a:hover {
    background-color: #ddd;
  }