.form_container{
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 3% 0;
}
.c_card{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.error {
    border-color: red;
  }
  
.error-message {
    color: red;
    font-size: 0.8em;
}